<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="text-center">
  <main class="form-signin w-25 m-auto">
    <form class="">
      <div class="mt-5">
        <img class="mb-4" src="../assets/img/icons8-developer-64.png" alt="">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" [(ngModel)] = "usuario.login" id="login" name="login" placeholder="name@example.com">
        <label for="login">Endereço de E-mail</label>
      </div>
      <div class="form-floating mt-2">
        <input type="password" class="form-control" [(ngModel)] = "usuario.senha" id="senha" name="senha" placeholder="Password">
        <label for="senha">Senha</label>
      </div>

      <div class="checkbox mb-3 mt-2">
        <label>
          <input type="checkbox" value="remember-me">Lembrar minha senha
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click) = "login()" id="botaoLogin" type="submit">Cadastro</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
  </main>

</body>

</html>